table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
}

.cell {
  width: 10px;
  height: 10px;
  line-height: 10px;
}

.main {
  margin: 0 auto;
  text-align: center;
}

.center {
  display: inline-block;
  margin: 0 auto;
}

.name {
  text-align: center;
}

.clock {
  text-align: center;
}



table.fixed { table-layout:fixed; }
table.fixed td { overflow: hidden; }